<h1> ORDINARIO DE NOMINA</h1>

<div>
    <mat-form-field>
        <mat-label> Valor de credito</mat-label>
        <input matInput [(ngModel)]="valorCredito">
    </mat-form-field>
    <mat-form-field>
        <mat-label> Numero de cuotas</mat-label>
        <select matNativeControl [(ngModel)]="cuotas">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            <option value="32">32</option>
            <option value="33">33</option>
            <option value="34">34</option>
            <option value="35">35</option>
            <option value="36">36</option>
            <option value="37">37</option>
            <option value="38">38</option>
            <option value="39">39</option>
            <option value="40">40</option>
            <option value="41">41</option>
            <option value="42">42</option>
            <option value="43">43</option>
            <option value="44">44</option>
            <option value="45">45</option>
            <option value="46">46</option>
            <option value="47">47</option>
            <option value="48">48</option>
            <option value="49">49</option>
            <option value="50">50</option>
            <option value="51">51</option>
            <option value="52">52</option>
            <option value="53">53</option>
            <option value="54">54</option>
            <option value="55">55</option>
            <option value="56">56</option>
            <option value="57">57</option>
            <option value="58">58</option>
            <option value="59">59</option>
            <option value="60">60</option>
            <option value="61">61</option>
            <option value="62">62</option>
            <option value="63">63</option>
            <option value="64">64</option>
            <option value="65">65</option>
            <option value="66">66</option>
            <option value="67">67</option>
            <option value="68">68</option>
            <option value="69">69</option>
            <option value="70">70</option>
            <option value="71">71</option>
            <option value="72">72</option>
        </select>
    </mat-form-field>
    <mat-form-field>
        <mat-label> Cuotas Mensuales</mat-label>
        <input matInput [(ngModel)]="valorCuotaMensual">
    </mat-form-field>
    <mat-form-field>
        <mat-label> Tasa de interes </mat-label>
        <input matInput [(ngModel)]="tasaInteres">
    </mat-form-field>
</div>
<div>
    <button (click)="llamarMetodos()" mat-raised-button color="basic">Procesar</button>
</div>
<div>
    <table mat-table [dataSource]="datasource" class="mat-elevation-z4">

        <ng-container matColumnDef="Cuota">
            <th mat-header-cell *matHeaderCellDef> Cuota </th>
            <td mat-cell *matCellDef="let element"> {{element.Cuota}}</td>
        </ng-container>

        <ng-container matColumnDef="Fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha de Pago </th>
            <td mat-cell *matCellDef="let element"> {{element.Fecha}}</td>
        </ng-container>
        <ng-container matColumnDef="FdoSolidaridad">
            <th mat-header-cell *matHeaderCellDef> FDO Solidaridad </th>
            <td mat-cell *matCellDef="let element"> {{element.FdoSolidaridad}}</td>
        </ng-container>
        <ng-container matColumnDef="Seguro">
            <th mat-header-cell *matHeaderCellDef> Seguro </th>
            <td mat-cell *matCellDef="let element"> {{element.Seguro}}</td>
        </ng-container>

        <ng-container matColumnDef="Interes">
            <th mat-header-cell *matHeaderCellDef> Interes </th>
            <td mat-cell *matCellDef="let element"> {{element.Interes}}</td>
        </ng-container>

        <ng-container matColumnDef="Capital">
            <th mat-header-cell *matHeaderCellDef> Capital </th>
            <td mat-cell *matCellDef="let element"> {{element.Capital}}</td>
        </ng-container>

        <ng-container matColumnDef="Valor">
            <th mat-header-cell *matHeaderCellDef> Valor </th>
            <td mat-cell *matCellDef="let element"> {{element.Valor}}</td>
        </ng-container>

        <ng-container matColumnDef="Saldo">
            <th mat-header-cell *matHeaderCellDef> Saldo </th>
            <td mat-cell *matCellDef="let element"> {{element.Saldo}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas"></tr>

    </table>
</div>