<mat-drawer-container>
  <mat-drawer #drawer mode="side">
    <button [routerLink]="['/home']" mat-raised-button color="basic">Inicio</button><br>
    <button [routerLink]="['/usuario']" mat-raised-button color="basic" *ngIf="tipo == 'Admin'">Usuarios</button><br>
      <button (click)="openEdit(usuario)" mat-raised-button color="basic" *ngIf="tipo == 'User'">Perfil</button><br>
    <button [routerLink]="['/ordinario']" mat-raised-button color="basic"
      *ngIf="tipo == 'Admin' || tipo == 'User'">Ordinario</button><br>
    <button [routerLink]="['/extraordinario']" mat-raised-button color="basic"
      *ngIf="tipo == 'Admin' || tipo == 'User'">Extraordinario</button><br>
    <button [routerLink]="['/ventanilla']" mat-raised-button color="basic"
      *ngIf="tipo == 'Admin'|| tipo == 'User'">Ventanilla</button><br>

    <button (click)="logout()" mat-raised-button color="basic" *ngIf="tipo == 'Admin'|| tipo == 'User'">Cerrar
      Sesion</button>

  </mat-drawer>
  <div>
    <button (click)="drawer.toggle();" mat-raised-button color="basic">MENU</button>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>