<h1> CREDITO EXTRAORDINARIO</h1>

<div>   
    <mat-form-field>
        <mat-label> Valor de credito</mat-label>
        <input matInput [(ngModel)]="valorCredito">
    </mat-form-field>
    <mat-form-field>
        <mat-label> Numero de cuotas</mat-label>
        <select matNativeControl [(ngModel)]="cuotas">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label> Tasa de interes </mat-label>
        <input matInput [(ngModel)]="tasaInteres">
    </mat-form-field>
</div>
<div>
    <button (click)="llamarMetodos()" mat-raised-button color="basic">Procesar</button>
</div>
<div>
    <table mat-table [dataSource]="datasource" class="mat-elevation-z4">

        <ng-container matColumnDef="Cuota">
            <th mat-header-cell *matHeaderCellDef> Cuota </th>
            <td mat-cell *matCellDef="let element"> {{element.Cuota}}</td>
        </ng-container>
        <ng-container matColumnDef="Fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha de Pago </th>
            <td mat-cell *matCellDef="let element"> {{element.Fecha}}</td>
        </ng-container>
        <ng-container matColumnDef="Seguro">
            <th mat-header-cell *matHeaderCellDef> Seguro </th>
            <td mat-cell *matCellDef="let element"> {{element.Seguro}}</td>
        </ng-container>

        <ng-container matColumnDef="Interes">
            <th mat-header-cell *matHeaderCellDef> Interes </th>
            <td mat-cell *matCellDef="let element"> {{element.Interes}}</td>
        </ng-container>

        <ng-container matColumnDef="Capital">
            <th mat-header-cell *matHeaderCellDef> Capital </th>
            <td mat-cell *matCellDef="let element"> {{element.Capital}}</td>
        </ng-container>

        <ng-container matColumnDef="Valor">
            <th mat-header-cell *matHeaderCellDef> Valor </th>
            <td mat-cell *matCellDef="let element"> {{element.Valor}}</td>
        </ng-container>

        <ng-container matColumnDef="Saldo">
            <th mat-header-cell *matHeaderCellDef> Saldo </th>
            <td mat-cell *matCellDef="let element"> {{element.Saldo}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas"></tr>

    </table>
</div>
